<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Sadique,Sheik,homepage,neuromorphic,engineering,neural,networks,synaptic,plasticity,sheiksadique,sheiksadique.github.io,sheiksadique.github.com" />
    <link rel="stylesheet" type="text/css" href="./styles/anoceanofsky.css" />
    <link rel="stylesheet" type="text/css" href="./styles/cv.css" />
    <link rel="stylesheet" type="text/css" href="./styles/allelse.css" />
    <link rel="stylesheet" type="text/css" href="./styles/slides.css" />
    <script type="text/javascript" src="scripts/jquery-1.8.3.min.js"> </script>
    <script type="text/javascript" src="scripts/myscripts.js"> </script>
    <title>Home page - Sadique Sheik</title>
    <template class='ganalytics'/>
</head>

