<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
content="Sadique,Sheik,homepage,neuromorphic,engineering,neural,networks,synaptic,plasticity,sheiksadique,sheiksadique.github.io,sheiksadique.github.com,publications,research,science,blog" />
    <link rel="stylesheet" type="text/css" href="http://sheiksadique.github.io/styles/anoceanofsky.css" />
    <link rel="stylesheet" type="text/css" href="http://sheiksadique.github.io/styles/cv.css" />
    <link rel="stylesheet" type="text/css" href="http://sheiksadique.github.io/styles/allelse.css" />
    <script type="text/javascript" src="http://sheiksadique.github.io/scripts/jquery-1.8.3.min.js"> </script>
    <script type="text/javascript" src="http://sheiksadique.github.io/scripts/myscripts.js"> </script>
    <title>Home page - Sadique Sheik</title>
    <template class='ganalytics'/>
</head>

