<div>
    <div id="page">
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/index.html">Home</a></div>
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/cv.html">CV</a></div>
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/publications.html">Publications</a></div>
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/projects.html">Projects</a></div>
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/tips-n-tricks.html">Tips-n-Tricks</a></div>
        <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/sports.html">Sports</a></div>
	    <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/contact.html">Contact</a></div>
	    <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/blog.html">Blog</a></div>
	    <div class="topNaviagationLink"><a href="http://sheiksadique.github.io/make-ur-own.html">Make-ur-Own</a></div>
    </div>
    <div id="mainPicture">
    	<div class="picture">
        	<div id="headerTitle">Simplicity is the Ultimate Sophistication</div>
            <div id="headerSubtext"> - Leonardo Da Vinci</div>
        </div>
    </div>
</div>
