<div>
    <div id="page">
        <div class="topNaviagationLink"><a href="index.html">Home</a></div>
        <div class="topNaviagationLink"><a href="cv.html">CV</a></div>
        <div class="topNaviagationLink"><a href="http://scholar.google.ch/citations?user=J5Z-oUwAAAAJ">Publications</a></div>
        <div class="topNaviagationLink"><a href="projects.html">Projects</a></div>
        <div class="topNaviagationLink"><a href="software.html">Software</a></div>
        <div class="topNaviagationLink"><a href="sports.html">Sports</a></div>
	    <div class="topNaviagationLink"><a href="contact.html">Contact</a></div>
    </div>
    <div id="mainPicture">
    	<div class="picture">
        	<div id="headerTitle">Simplicity is the Ultimate Sophistication</div>
            <div id="headerSubtext"> - Leonardo Da Vinci</div>
        </div>
    </div>
</div>
