<div>
    <div id="page">
        <div class="topNaviagationLink"><a href="index.html">Home</a></div>
        <div class="topNaviagationLink"><a href="cv.html">CV</a></div>
        <div class="topNaviagationLink"><a href="index.html">Projects</a></div>
        <div class="topNaviagationLink"><a href="http://scholar.google.ch/citations?user=J5Z-oUwAAAAJ">Publications</a></div>
        <div class="topNaviagationLink"><a href="about.html">About</a></div>
	    <div class="topNaviagationLink"><a href="contact.html">Contact</a></div>
    </div>
    <div id="mainPicture">
    	<div class="picture">
        	<div id="headerTitle">Under construction</div>
            <div id="headerSubtext">Should be up and running in the next few
                days. Try again soon!</div>
        </div>
    </div>
</div>
