<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./styles/anoceanofsky.css" />
<title>Software - Sadique Sheik</title>
</head>

<body>
	<template class='header'/>
        <div class="contentBox">
    	    <div class="innerBox">
                <div class="contentTitle">Sharing is fun!</div>
                <div class="contentText">
		    <p>
            You know the feeling when you are struggling to figure out whats happening in your program, when you are putting all your googling skills to test, only to discover that there was some stupid bug/trick in the library that you did not know ? 
            You know the feeling when you are realize the crazy program that you spent a night developing could have been implemented in 4 simple lines ? 
            This is where all those spooky tricks will be shared for the greater good of mankind.
                    </p><br />
                </div>
            </div>
        </div>
    <template class='footer'/>
</body>
</html>
