<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="./styles/anoceanofsky.css" />
<title>Fun and sports - Sadique Sheik</title>
</head>

<body>
	<template class='header'/>
        <div class="contentBox">
    	    <div class="innerBox">
                <div class="contentTitle">I looooooooove playing !</div>
                <div class="contentText">
                    <p>
                        Once I put on my sporting gear I am a whole different
                        person, and I absolutely love that dude ;).
                    </p><br />
                    <p>
                        Sports are a crucial part of my life and the most
                        effective means to get my adrenalin going. It serves as
                        portal into a different world altogether, a world where
                        nothing else exists but fun and excitement. It doesn't
                        matter to me what the game is as long as it is
                        competitive and fun (and less running, for i am very
                        lazy :P). Below is a list of activities I do or did in
                        the past.
                    </p>
                </div>
                <div class="contentTitle">Badminton</div>
                <div class="contentText">
                    <p>
                        Of all the games I can play this is my favorite. I have been playing badminton with friends since my school days, although I never had a formal training. The game is part of my instinct now and its traces can be seen in all the gaming I do, be it tennis or volleyball.
                    </p>
                </div>
            </div>
        </div>
    <template class='footer'/>
</body>
</html>
