/* Stylesheet design for all my custom styles on the page */

pre {
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -o-pre-wrap;
 background: #faf8f0;
}
#content #pre-stylish code {
 display: block;
 padding: 0.5em 1em;
 border: 1px solid #bebab0;
}


.photo {
    background-color: rgba(0,0,0,0.1);
    width:50%;
    height:auto;
    /*width:auto;*/
    float:right;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}
