/* Stylesheet design for the CV page */

.cvTitle
{
    font-size:160%;
    font-style:italic;
    margin-bottom:0px;
    padding-top:0px;
    margin-top:0px;
    width:20%; 
    float:left;
}

.cvContent
{
    width:80%;
    float:left;
}

.cvSubtitle
{
    font-size:150%;
    margin-bottom:20px;
    padding-top:0px;
    margin-left:15px;
    margin-top:0px; /*15px;*/
}

.cvText
{
    font-size:100%;
    line-height:24px;
    margin-left:13px;
    margin-right:13px;
}

.cvColumn-half
{
    width:48%;
    float:left;
}

.cvColumn-third
{
    width:32%;
}

.cvSection 
{
    width: 85%;
    margin-top: 1em; 
    padding-top: 1em;
    margin-bottom: 1em; 
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.cvSection:after
{
	clear:both;
	content:'.';
	height:0;
	visibility:hidden;
}

#myphoto
{
    background-color:#FFFFFF;
    height:240px;
    /*width:auto;*/
    float:right;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
}

